<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Dashboard </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title"> {{profile.name || 'User'}}'s Mathematics Dashboard</h3>
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT -->
    <!-- BEGIN CLASSES -->
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET -->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Your Student Profile</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row number-stats margin-bottom-30">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="stat-left">
                                <div class="stat-chart">
                                    <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                    <div id="sparkline_bar"></div>
                                </div>
                                <div class="stat-number">
                                    <div class="title"> Maxile Score </div>
                                    <div class="number"> {{user.maxile_level || "0"}} </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="stat-right">
                                <div class="stat-chart">
                                    <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                    <div id="sparkline_bar2"></div>
                                </div>
                                <div class="stat-number">
                                    <div class="title"> Game Score </div>
                                    <div class="number"> {{user.game_level || "0"}} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-scrollable table-scrollable-borderless" ng-controller="ProgressDemoCtrl">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>Accuracy</h4>
                            </div>
                            <div class="col-sm-6">
                                <progressbar class="progress-striped" value="correctness" type="green">{{correctness || 0}}%</progressbar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET -->
        </div>
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET -->
            <div class="portlet light">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i> 
                       <span class="caption-subject font-blue-madison bold uppercase">Your Activities</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <!--BEGIN TABS-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1_1">
                            <div class="scroller" style="height: 160px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                <ul class="feeds" ng-repeat="log in logs">
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-bell-o"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> {{log.name}} </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> {{log.updated_at}} </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--END TABS-->
                </div>
            </div>
            <!-- END PORTLET -->
        </div>
        <div class="col-md-12" ng-if="user.maxile.length">
            <!-- BEGIN CHART PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-blue-madison"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">{{user.name || My}} Field of Study Radar</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="dashboard_amchart_1" class="CSSAnimationChart" style="width:100%
                    ; height: 400px;"> </div>
                </div>
            </div>
            <!-- END CHART PORTLET-->
        </div>
    </div>

    <!-- list of Enrolled classes -->
    <div class="row" ng-if="user.enrolled_classes.length">
        <div class="col-md-12">
            <!-- BEGIN ROW -->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN CLASSES PORTLET-->
                    <div class="portlet light portlet-fit bordered">
                       <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-microphone font-blue-madison hide"></i>
                                 <span class="caption-subject font-blue-madison bold uppercase"> Current Enrolled Classes</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12" ng-repeat="house in user.enrolled_classes track by $index">
                                    <div class="mt-widget-2">
                                        <div class="mt-head" style="background-image: url({{house.image}});">
                                            <div class="mt-head-label">
                                                <button type="button" class="btn btn-success">
                                                    My Score: {{house.as_student[0].maxile_level || 0}}</button>
                                            </div>
                                            <div class="mt-head-user">
                                                <div class="mt-head-user-img">
                                                    <img src="{{house.created_by.image}}" /> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-body">
                                            <p class="mt-body-title"> <span ng-repeat="role in house.as_student[0].roles"> {{role.role}} </span></p>
                                            <h3 class="mt-body-description"> {{house.description}} </h3>
                                            <ul class="mt-body-stats">
                                                <li class="font-green">
                                                    <i class="fa fa-hourglass-start"></i> {{house.start_date}}
                                                </li>
                                                <li class="font-red">
                                                    <i class="fa fa-hourglass-end"></i> {{house.end_date}}</li>
                                            </ul>
                                            <div class="mt-body-actions">
                                                <div class="btn-group btn-group btn-group-justified">
                                                    <a class="btn" href="#/houses/{{$index}}">
                                                        <i class="fa fa-cubes"></i> Goto Course </a>
                                                    <a class="btn" href="mailto:{{house.created_by.email}}">
                                                        <i class="fa fa-envelope-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END HOUSES PORTLET -->
                </div>
            </div>
            <!-- END CLASSES -->                    
            <!-- END ROW -->                    
        </div>
    </div>


    <!-- BEGIN ROW For Chart 1 -->

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN ROW -->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN CLASSES PORTLET-->
                    <div class="portlet light portlet-fit bordered">
                       <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-microphone font-dark hide"></i>
                                 <span class="caption-subject font-blue-madison bold uppercase"> Learn: Recommended Classes</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12" ng-repeat="house in houses">
                                    <div class="mt-widget-2">
                                        <div class="mt-head" style="background-image: url({{house.image}});">
                                            <div class="mt-head-label">
                                                <button type="button" class="btn btn-success">{{house.house}}</button>
                                            </div>
                                            <div class="mt-head-user">
                                                <div class="mt-head-user-img">
                                                    <img src="{{house.created_by.image}}" /> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-body">
                                            <h3 class="mt-body-title"> by {{house.created_by.name}} </h3>
                                            <p class="mt-body-description"> {{house.description}} </p>
                                            <ul class="mt-body-stats">
                                                <li class="font-green">
                                                    <i class="fa fa-hourglass-start"></i> {{house.start_date}}
                                                </li>
                                                <li class="font-red">
                                                    <i class="fa fa-hourglass-end"></i> {{house.end_date}}</li>
                                            </ul>
                                            <div class="mt-body-actions">
                                                <div class="btn-group btn-group btn-group-justified">
                                                    <a class="btn" data-toggle="modal" href="#enrol-{{house.id}}">
                                                        <i class="fa fa-certificate"></i> Enrol </a>
                                                    <a class="btn" data-toggle="modal" href="#tracks-{{house.id}}">
                                                        <i class="fa fa-road"></i> View Tracks </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div                                <!-- Modal for enrolment form -->
                                    <div id="enrol-{{house.id}}" class="modal fade" tabindex="-1" data-width="760" my-Modal  ng-controller="LearnFormController">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="portlet light portlet-fit portlet-form">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <i class=" icon-layers font-green"></i>
                                                            <h4>Enrolment</h4>
                                                            <span class="caption-subject font-green sbold uppercase">{{house.house}}</span>
                                                            <span class="caption-helper"> by </span><span class="caption-subject font-green sbold uppercase">{{house.created_by.name}}</span><span class="caption-helper"> from </span><span class="caption-subject font-green sbold uppercase">{{house.start_date}} to {{house.end_date}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body" >
                                                        <!-- BEGIN FORM-->
                                                        <form class="form-horizontal" id="learnForm" ng-submit="processEnrol()">
                                                            <div class="form-body">
                                                                <div class="alert alert-danger" ng-if="learnerrormsg">
                                                                    <button class="close" data-close="alert"></button> 
                                                                    <p ng-repeat="(field,error) in learnerrormsg">{{error}}</p>
                                                                </div>
                                                                <div class="alert alert-success" ng-if="learnformsuccess">
                                                                    <button class="close" data-close="alert"></button> 
                                                                    <p ng-repeat="(field,message) in learnformsuccess">{{message}}</p>
                                                                </div>
                                                            </div>

                                                            <input type="hidden" ng-model="enrol.user_id" value="{{user.id}}" ng-init="enrol.user_id=user.id"/>
                                                            <input type="hidden" ng-model="enrol.house_id" ng-value="house.id" ng-init="enrol.house_id = house.id"/>
                                                            <div class="form-group form-mt-checkbox">
                                                                <label class="col-md-3 control-label">Roles</label>
                                                                <div class="col-md-9">
                                                                    <div class="mt-checkbox-inline">
                                                                        <label class="mt-checkbox" ng-repeat = "item in roles">
                                                                            <input type="checkbox" checkbox-group> {{item.role}}
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-actions">
                                                                <div class="row">
                                                                    <div class="col-md-offset-3 col-md-9">
                                                                        <button type="submit" class="btn green")">Enrol</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <!-- END FORM-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Modal for Tracks of classes -->
                                    <div id="tracks-{{house.id}}" class="modal fade" tabindex="-1" data-width="760">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="mt-element-list">
                                                    <div class="mt-list-head list-default green-haze">
                                                        <div class="row">
                                                            <div class="col-xs-8">
                                                                <div class="list-head-title-container">
                                                                    <h3 class="list-title uppercase sbold">{{house.house}} </h3>
                                                                    <div class="list-date">by {{house.created_by.name}}</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="list-head-summary-container">
                                                                    <div class="list-pending">
                                                                        <div class="badge badge-default list-count">3</div>
                                                                        <div class="list-label">Pending</div>
                                                                    </div>
                                                                    <div class="list-done">
                                                                        <div class="list-count badge badge-default last">2</div>
                                                                        <div class="list-label">Completed</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-list-container list-default">
                                                        <div class="mt-list-title uppercase">
                                                           Tracks in {{house.description}}
                                                        </div>
                                                        <ul>
                                                            <li class="mt-list-item">
                                                                <div class="list-item-content col-lg-6" ng-repeat="track in house.tracks">
                                                                    <h3 class="uppercase bold">
                                                                        <a href="javascript:;">{{track.track}}</a>
                                                                    </h3>
                                                                    <p ng-repeat = "skill in track.skills">{{skill.skill}}</p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END HOUSES PORTLET -->
                </div>
            </div>
            <!-- END CLASSES -->                    
            <!-- BEGIN COURSES -->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN CLASSES PORTLET-->
                    <div class="portlet light portlet-fit bordered">
                       <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-microphone font-blue-madison hide"></i>
                                 <span class="caption-subject font-blue-madison bold uppercase"> Teach: Courses You can Teach</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12" ng-repeat="course in courses">
                                    <div class="mt-widget-2">
                                        <div class="mt-head" style="background-image: url({{course.image}});">
                                            <div class="mt-head-label">
                                                <button type="button" class="btn btn-success">{{course.course}}</button>
                                            </div>
                                                <div class="mt-head-user">
                                                    <div class="mt-head-user-img">
                                                        <img src="{{course.created_by.image}}" /> 
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="mt-body">
                                            <h3 class="mt-body-title"> by {{course.created_by.name}} </h3>
                                            <p class="mt-body-description"> {{course.description}} </p>
                                            <div class="mt-body-actions">
                                                <div class="btn-group btn-group btn-group-justified">
                                                    <a class="btn" data-toggle="modal" href="#teach">
                                                        <i class="fa fa-certificate"></i> Teach </a>
                                                    <a class="btn" data-toggle="modal" href="#outline-{{course.id}}">
                                                        <i class="fa fa-pencil"></i> Outline </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal for Outline of courses -->
                                    <div id="outline-{{course.id}}" class="modal fade" tabindex="-1" data-width="760">
        <script type="text/javascript" async
          src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>    <!-- END HEAD -->
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="mt-element-list">
                                                    <div class="mt-list-head list-default green-haze">
                                                        <div class="row">
                                                            <div class="col-xs-8">
                                                                <div class="list-head-title-container">
                                                                    <h3 class="list-title uppercase sbold">{{course.course}} </h3>
                                                                    <div class="list-date">by {{course.created_by.name}}</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="list-head-summary-container">
                                                                    <div class="list-pending">
                                                                        <div class="badge badge-default list-count">3</div>
                                                                        <div class="list-label">Pending</div>
                                                                    </div>
                                                                    <div class="list-done">
                                                                        <div class="list-count badge badge-default last">2</div>
                                                                        <div class="list-label">Completed</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-list-container list-default">
                                                        <div class="mt-list-title uppercase">
                                                           Tracks in {{course.description}}
                                                        </div>
                                                        <ul>
                                                            <li class="mt-list-item">
                                                                <div class="list-item-content col-lg-6" ng-repeat="track in course.tracks">
                                                                    <ul class="uppercase bold">
                                                                        <a href="javascript:;">{{track.track}}</a>
                                                                    <li ng-repeat = "skill in track.skills"> {{skill.skill}}</li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal for Create a class form -->
                                <div id="teach" class="modal fade" tabindex="-1" data-width="760" my-Modal ng-controller ="TeachFormController">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="portlet light portlet-fit portlet-form">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class=" icon-layers font-green"></i>
                                                        <span class="caption-subject font-green sbold uppercase">Start a New Class</span>
                                                    </div>
                                                </div>
                                                <div class="portlet-body" >
                                                    <!-- BEGIN FORM-->
                                                    <form class="form-horizontal" id="teachForm" ng-submit="processTeach()">
                                                        <div class="form-body">
                                                            <div class="alert alert-danger" ng-if="teacherrormsg"> 
                                                                <p ng-repeat="(field,error) in teacherrormsg">{{error}}</p>
                                                            </div>
                                                            <div class="alert alert-success" ng-if="teachformsuccess">
                                                                <button class="close" data-close="alert"></button> <p>{{teachformsuccess}}</p>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <label class="col-md-3 control-label">Course</label>
                                                                <div class="col-md-6">
                                                                    <ui-select ng-model="house.course_id" theme="bootstrap">
                                                                        <ui-select-match placeholder="Select or search a course in the list...">{{$select.selected.course}}</ui-select-match>
                                                                        <ui-select-choices group-by="'course'" repeat="course.id as course in courses | filter: $select.search">
                                                                            <span ng-bind-html="course.course | highlight: $select.search"></span>
                                                                            <small ng-bind-html="course.created_by.name | highlight: $select.search"></small>
                                                                        </ui-select-choices>
                                                                    </ui-select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group form-md-line-input" hidden>
                                                                <label class="col-md-3 control-label" for="form_control_1">Role
                                                                </label>
                                                                <div class="col-md-9">
                                                                    <input type="text" class="form-control"  name="role" ng-model="house.role_id" value="5">
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <label class="col-md-3 control-label" for="form_control_1">Class Name
                                                                    <span class="required">*</span>
                                                                </label>
                                                                <div class="col-md-9">
                                                                    <input type="text" class="form-control" placeholder="Class Name" name="house" ng-model="house.house">
                                                                        <div class="form-control-focus"> </div>
                                                                        <span class="help-block">Enter name of class</span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <label class="col-md-3 control-label" for="form_control_1">Image Link for Class
                                                                    <span class="required">*</span>
                                                                </label>
                                                                <div class="col-md-9">
                                                                    <input type="text" class="form-control" placeholder="The url should start with 'http://'" name="url" ng-model="house.image">
                                                                        <div class="form-control-focus"> </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <label class="col-md-3 control-label">Instructor</label>
                                                                <div class="col-md-9">
                                                                    <input type="text" class="form-control" placeholder="{{user.name}}" disabled> 
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <label class="col-md-3 control-label" for="form_control_1">Class Description</label>
                                                                <div class="col-md-9">
                                                                    <textarea class="form-control" name="memo" rows="3" ng-model="house.description"></textarea>
                                                                    <div class="form-control-focus">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <label class="control-label col-md-3">Duration of class</label>
                                                                <div class="col-md-3">
                                                                    <div class="input-group input-large date-picker input-daterange" data-date="2016-01-01" data-date-format="yyyy-mm-dd">
                                                                        <input type="text" class="form-control" name="from" ng-model="house.start_date">
                                                                        <span class="input-group-addon"> to </span>
                                                                        <input type="text" class="form-control" name="to" ng-model="house.end_date"> 
                                                                    </div>
                                                                    <!-- /input-group -->
                                                                    <span class="help-block"> Select date range </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-radios">
                                                                <label class="col-md-3 control-label" for="form_control_1">Privacry Status</label>
                                                                <div class="col-md-9">
                                                                    <div class="md-radio-inline">
                                                                        <div class="md-radio" ng-repeat="status in statuses">
                                                                            <input type="radio" id="status-{{status.id}}" name="status-{{status.id}}" value="{{status.id}}"" class="md-radiobtn" ng-model="house.status_id">
                                                                            <label for="status-{{status.id}}">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> {{status.status}} 
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-actions">
                                                            <div class="row">
                                                                <div class="col-md-offset-3 col-md-9">
                                                                    <button type="submit" class="btn green">Create Class</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <!-- END FORM-->
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- END COURSES PORTLET -->
                </div>
            </div>
            <!-- END ROW -->                    
        </div>
    </div>
</div>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/radar.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<script>
    ComponentsDateTimePickers.init(); 
    $('.nav-pills, .nav-tabs').tabdrop({text: "More..."});
</script>
<!-- BEGIN MAIN CONTENT -->
<!-- END MAIN CONTENT -->
<script>
    TableDatatablesManaged.init();
<!-- END MAIN JS -->

    // Progressbar demo controller
    function ProgressDemoCtrl($scope)
    {
        $scope.max = 200;
        $scope.random = function()
        {
            var value = Math.floor((Math.random() * 100) + 1);
            var type;
            if (value < 25)
            {
                type = 'success';
            }
            else if (value < 50)
            {
                type = 'info';
            }
            else if (value < 75)
            {
                type = 'warning';
            }
            else
            {
                type = 'danger';
            }
            $scope.showWarning = (type === 'danger' || type === 'warning');
            $scope.dynamic = value;
            $scope.type = type;
        };
        $scope.random();
        $scope.randomStacked = function()
        {
            $scope.stacked = [];
            var types = ['success', 'info', 'warning', 'danger'];
            for (var i = 0, n = Math.floor((Math.random() * 4) + 1); i < n; i++)
            {
                var index = Math.floor((Math.random() * 4));
                $scope.stacked.push(
                {
                    value: Math.floor((Math.random() * 30) + 1),
                    type: types[index]
                });
            }
        };
        $scope.randomStacked();
    }
</script>