<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="heading">
            <h3>{{user.name}}</h3>
        </li>
        <li class="start nav-item">
            <a href="#/dashboard">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li class="start nav-item">
            <a href="#/game">
                <i class="fa fa-gamepad"></i>
                <span class="title">Game</span>
            </a>
        </li>
        <li class="start nav-item">
            <a href="#/quiz">
                <i class="fa fa-question"></i>
                <span class="title">Quiz</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:;">
                <i class="icon-wrench"></i>
                <span class="title">My Classes</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li ng-repeat="(key, house) in user.enrolled_classes">
                    <a href="#/houses/{{key}}">
                        <i class="icon-tag"></i> {{house.house}} </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#/profile/dashboard" id="sidebar_menu_link_profile">
                <i class="icon-user"></i>
                <span class="title">User Profile</span>
            </a>
        </li>
        <li class="nav-item" ng-if="!user.teaching_houses">
            <a href="#/teaching/dashboard" id="sidebar_menu_link_profile">
                <i class="icon-pencil"></i>
                <span class="title">Teaching Dashboard</span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="#/teaching/overall">
                        <i class="icon-graph"></i> Overall Performance </a>
                </li>
                <li >
                    <a href="#/teaching/track_result">
                        <i class="fa fa-road"></i> Result by Track </a>
                </li>
                <li >
                    <a href="#/teaching/class_result">
                        <i class="icon-home"></i> Result by Class </a>
                </li>
                <li >
                    <a href="#/teaching/student_result">
                        <i class="icon-users"></i> Result by Student </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>